# Ignore everything
*
*/**

# Don't ignore these folders
!models/
!models/**
!api/
!api/**

# Don't ignore specific files
!main.*
!terminalController.*
!Dockerfile
!docker-compose.yml
!run-docker.ps1
!run.sh
!requirements.txt
!start_api.sh
!.dockerignore
build_and_run.sh
!LICENSE
!README.md

# Don't ignore HTML and JS files
!*.html
!*.js

# Don't ignore .gitignore
!.gitignore
